

.body {
    font-family:arial;  
    background-color:black;
}

main {
    margin:3%;
}

header {
    height:400px;  
    margin-bottom:50px;
}
.hero {
    max-width:100%;
    max-height: 400px;
    background-size: contain;
    background-position: center;
}

.hero img {
    width: 100%;
}

header h1 {
    position:relative;
    bottom:275px;
    display:flex;
    justify-content:space-around;
    color:white;
    font-family:Poppins;
    font-weight:200;
    font-style:italic;
    font-size:75px;
    letter-spacing:3px;
}

h4 {
    font-family:Poppins;
    font-weight: 400;
    position: relative;
    bottom: 300px;
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing:3px;
    word-spacing:10px;
    font-size: 20px;
    text-transform:uppercase;
}
span {
    font-style: italic;
    font-weight: 100;
    position: relative;
    justify-content: center;    
}



.signs {
    text-align:center;

}


h2 {
    color: black;
    font-family:Poppins;
    font-weight:200;
    /* font-style:italic; */
    font-size:40px;
    letter-spacing:3px;
    text-align:center;
}


.sign-card h3 {
    color: #996164;
    font-family:Poppins;
    font-weight:400;
    /* font-style:italic; */
    font-size:25px;
    letter-spacing:3px;
    text-align:center;
}

.sign-card img {
    height:175px;
    width:auto;
}

.sign-card button {
    font-family:Poppins;
    font-size:12px;
    text-decoration:uppercase;
    letter-spacing:2px;
    color: #996164;
    border: 2px solid #996164;
    text-align:center;
    transition: 0.5 ease-in;
}

.sign-card button:hover {
    background-color:#996164;
    color:white;
    border: 2px solid #996164;
}

.nasa {
    background-color: black;
    height: 400px;
    margin-top: 50px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:20px;
}

.nasa h2 {
    color:white;
    text-align:left;
    position:relative;
    left: 75px;
    font-family:Poppins;
    font-size:75px;
    font-weight:500;
    top: 100px;
    line-height:0.8;

}


.nasa span {
    color:#996164;
    font-family:Poppins;
    font-size:35px;
    font-weight:300;
    font-style:italiac; 
}


.nasa-photo {
    width: 450px;
    height:250px;
    position:relative;
    right: 50px;
    top: 50px;
    
}

.nasa-container {
    max-width:450px;
    max-height:250px;
    margin:0;
    /* border:3px solid #996164; */
    padding:0px;
    background-size: contain;
    background-position: center;
    background-color:#996164;
}

.nasa-container img {
    max-width: 100%; 
    max-height: 100%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.nasa-container img:hover {
    filter:opacity(50%);
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}